<!DOCTYPE html>
<html lang="en">
<head>
  {{>links}}
</head>
<body>
        <div class="row footer g-0 mt-auto">
        <div class="col-11 py-3 px-0 text-center mt-auto">
            <p>© 2020 Copyright: Shams ur rahman</p>
        </div>
    </div>
    
</body>
</html>