*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* header styling */
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.header{
    background-color: rgb(97, 17, 172);
    color: white !important;
}
.header a{
    color: white !important;
    text-decoration: none;
}
.footer{
    margin-top: 100px !important;
    background-color: rgb(19, 120, 214);
    color: white;
}